    ion-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 16px;
  }
  
  /* Estilo para el título (nombre del alumno) */
  ion-card-title {
    text-align: center;
    font-weight: bold;
    
  }
  

  
  /* Estilo para los botones */
  ion-button {
    width: 90%;
    margin-top: 16px;
  }
  
  
  /* Estilo para el botón "Salir" */
  .boton-salir {
    position: absolute;
    bottom: 5%; /* Ajusta la distancia desde la parte inferior de la pantalla */
    height: 7%;
    left: 0; /* Alinear el botón a la izquierda */
    right: 0; /* Alinear el botón a la derecha */
    margin: 0 auto; /* Centrar horizontalmente el botón */
  }
  
  /* Estilo para el contenedor de los botones */
  .botones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .check-container {
    display: flex;
    flex-direction: column;
    align-items: center;
             
  }

  ion-img {
    width: 90%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }

