<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App DuocUC Assistance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AppDuocUC</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <img src="assets/icon/Duoc.png" alt="Descripción de la imagen">

    <ion-button class="button-login"  id="login-button" expand="full">
      Login

    </ion-button>


    <p>S&N enterprise <a target="_blank" rel="noopener noreferrer" href="https://github.com/sebastiandmv2/app_asistencia">Web Designer</a></p>
  </div>
</ion-content>
